@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: #000000;
    font-family: "Montserrat", sans-serif;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

h1 a {
    font-size: 2em;
    color: #40fff7;
    position: relative;
    text-decoration: none;
    display: inline-block;
    transition: color 0.5s; 
}

h1 a:hover {
    mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000000 50%, rgba(0, 0, 0, .6) 70%);
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000000 50%, rgba(0, 0, 0, .6) 70%);
    mask-size: 200%;
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
    color: #fff; 
}

@keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }
    to {
        -webkit-mask-position: -50%;
    }
}
