* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  color: #645e74;
  background-color: #e8dfff;
  font-family: "Poppins", sans-serif;
}

.dropdown {
  position: relative;
  translate: 0 -40px;
}

.dropdown input {
  position: absolute;
  scale: 0;
}

.dropdown button,
.dropdown label {
  display: flex;
  align-items: center;
  padding: 0 16px;
  gap: 10px;
  border: 0;
  width: 100%;
  height: 64px;
  color: inherit;
  background: #ffffff;
  transition: 0.3s ease;
}

.dropdown .menu :is(button, label):hover::before {
  background-color: #f5f3f6;
}

.dropdown .menu :is(button, label) :is(p, span) {
  position: relative;
  z-index: 2;
}

.dropdown :is(button, label) {
  position: relative;
}

.dropdown .menu :is(button, label)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 4px;
  right: 4px;
  bottom: 0;
  z-index: 1;
  border-radius: 10px;
  transition: 0.3s;
}

.dropdown label p {
  flex: 1 1 auto;
}

.dropdown button {
  position: relative;
  z-index: 2;
  color: #ffffff;
  border-radius: 10px;
  background: #8864f0;
}

.dropdown:hover button .chevron {
  rotate: -180deg;
}

.dropdown button .chevron {
  margin-left: auto;
  transition: 0.3s ease;
}

.dropdown .menu {
  position: absolute;
  bottom: auto;
  height: 204px;
  z-index: 1;
  inset: -4px;
  overflow: hidden;
  padding-top: 72px;
  padding-bottom: 4px;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  background: #ffffff;
  transition: 0.4s ease;
}

.dropdown .main-menu {
  width: 200px;
}

.dropdown .sub-menu {
  display: none;
}

.dropdown:hover .menu {
  opacity: 1;
  visibility: visible;
}

#create:checked ~ .menu {
  height: 268px;
}

#create:checked ~ .menu .sub-menu {
  display: block;
}

.dropdown input:checked ~ .menu .main-inner {
  translate: -50%;
}

.dropdown .menu-inner {
  position: absolute;
  width: 400px;
  display: flex;
  transition: 0.4s ease;
}
