* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #000000;
}

.sound-wave {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 60px;
    gap: 8px;
}

.sound-wave div {
    width: 10px;
    height: 6px;
    display: block;
    border-radius: 8px;
    background-color: orangered;
    animation: audio-wave 2.2s infinite ease-in-out;
}

@keyframes audio-wave {
    0% {
        height: 6px;
        transform: translateY(0px);
        background-color: #ff8e3a;
    }
    25% {
        height: 40px;
        transform: translateY(-5px) scaleY(1.7);
        background-color: #ed509e;
    }
    50% {
        height: 6px;
        transform: translateY(0px);
        background-color: #9c73f8;
    }
    100% {
        height: 6px;
        transform: translateY(0px);
        background-color: #0fccce;
    }
}

.sound-wave div:nth-child(2) {
    left: 11px;
    animation-delay: .2s;
}

.sound-wave div:nth-child(3) {
    left: 22px;
    animation-delay: .4s;
}

.sound-wave div:nth-child(4) {
    left: 33px;
    animation-delay: .6s;
}

.sound-wave div:nth-child(5) {
    left: 44px;
    animation-delay: .8s;
}

.sound-wave div:nth-child(6) { 
    left: 55px;
    animation-delay: 1s;
}
