@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #2c3441;
    font-family: 'Mulish', sans-serif;
}

.input-group {
    position: relative;
    margin: 50px auto;
}

input {
    border: none;
    font: inherit;
    padding: 10px;
    outline: none;
    display: block;
    border-radius: 3px;
    color: #fefefe;
}

label {
    position: absolute;
    top: -30px;
    left: -22px;
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
    color: #fefefe;
    transition: transform .25s, opacity .25s;
}

.icon {
    display: inline-flex;
    opacity: 0;
}

input:focus + label {
    transform: translateX(22px);
}

input:focus + label .icon {
    opacity: 1;
    transition-delay: .1s;
}

input::placeholder {
    transition: opacity .25s;
}

input:focus::placeholder {
    opacity: 0;
}
