@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--background: #1a1a1a;
    --notification-primary: #aaec8a;
    --notification-background: #333333;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--background);
    font-family: "Poppins", sans-serif;
}

.notification {
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
    width: max-content;
    border-radius: 6px;
    color: var(--notification-primary);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--notification-background);
    transform: translateY(30px);
    animation: fade-in 3s linear;
}

.notification-icon {
    width: 26px;
    width: 26px;
    object-fit: cover;
    margin-right: 4px;
}

.notification-body {
    display: flex;
    padding: 16px 8px;
    align-items: center;
    flex-direction: row;
}

.notification-progress {
    position: absolute;
    left: 4px;
    bottom: 4px;
    height: 3px;
    border-radius: inherit;
    width: calc(100% - 8px);
    transform: scaleX(0);
    transform-origin: left;
    background: linear-gradient(to right, var(--notification-background), var(--notification-primary));
    animation: progress 2.5s 0.3s linear;
}

@keyframes fade-in {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    95% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes progress { to { transform: scaleX(1); } }