@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-bg: #f4f6fa;
  --color-hover: #e8ecf4;
  --color-muted: #9fa4af;
  --color-primary: #121926;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #dadee5;
  font-family: "Mulish", sans-serif;
}

.sidebar {
  position: fixed;
  top: 24px;
  left: 24px;
  bottom: 28px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 80px;
  border-radius: 18px;
  background-color: #fefefe;
  transition: 0.4s;
}

.sidebar button {
  border: 0;
  color: inherit;
  cursor: pointer;
  font-size: 22px;
  border-radius: 8px;
  font-family: inherit;
  background: transparent;
  transition: 0.3s;
}

.left,
.right {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 0.4s;
  border-radius: 12px;
}

.left {
  left: 0;
  z-index: 1;
  width: 80px;
  /* gap: 29px; */
  background-color: #fefefe;
}

.left img {
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin: 24px 0 28px;
}

.left button {
  width: 45px;
  height: 45px;
  display: grid;
  place-items: center;
}

.left button:hover {
  color: #384251;
  background-color: var(--color-bg);
}

.right {
  position: relative;
  left: 76px;
  height: 100%;
}

.right-inner {
  position: absolute;
  left: 4px;
  inset: 8px;
  border-radius: 12px;
  background-color: var(--color-bg);
}

.right .header {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-direction: column;
  padding: 24px 16px;
}

.right h2 {
  font-size: 16px;
  font-weight: 600;
}

.right h3 {
  font-size: 12px;
  font-weight: 500;
  color: var(--color-muted);
}

.right nav {
  padding: 0 12px;
}

.right button span:last-child {
  opacity: 0;
  font-size: 16px;
  margin-left: auto;
  transition: 0.3s;
}

.right button {
  display: flex;
  align-items: center;
  padding: 0 12px;
  gap: 10px;
  width: 100%;
  height: 45px;
  font-size: 14px;
}

.right button:hover span:last-child {
  opacity: 1;
  color: var(--color-muted);
}

.right button:hover {
  color: #384251;
  background: var(--color-hover);
}

.sidebar:hover .right {
  width: 255px;
}

.submenu {
  position: relative;
  list-style: none;
  padding: 8px 0 8px 28px;
}

.submenu::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 20px;
  bottom: 8px;
  width: 1px;
  background-color: var(--color-muted);
}

.sidebar li {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  padding-left: 12px;
  border-radius: 8px;
  transition: 0.3s;
}

.submenu li:hover {
  color: #384251;
  cursor: pointer;
  background: var(--color-hover);
}

.submenu .badge {
  font-size: 10px;
  padding: 3px 5px;
  color: #fefefe;
  border-radius: 5px;
  background: var(--color-primary);
}
