@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a;
  color: #fefefe;
  font-family: "Poppins", sans-serif;
}

.card {
  position: relative;
  color: #f9f9f9;
  overflow: hidden;
  border-radius: 20px;
  background-color: #121519;
  border: 4px solid rgb(255 255 255 / 8%);
}

.card-content {
  position: relative;
  z-index: 1;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.card::after {
  content: "";
  position: absolute;
  inset: 5px;
  background: inherit;
  border-radius: 15px;
}

.card::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 200%;
  height: 150px;
  background-image: linear-gradient(
    180deg,
    rgb(111, 0, 255),
    rgb(255, 48, 255)
  );
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid rgb(255 255 255 / 8%);
}

.header img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}

.user-info {
  flex: 1;
}

.badge {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  border-radius: 6px;
  padding: 6px 10px 6px 6px;
  background: rgb(255 255 255 / 8%);
}

h2,
h3 {
  font-weight: 400;
}

h2 {
  font-size: 22px;
}

h3 {
  opacity: 0.5;
  font-size: 14px;
}

ul {
  list-style: none;
}

ul li {
  margin-bottom: 4px;
}

ul button {
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px 12px;
  border-radius: 8px;
  color: #f9f9f9;
  background: transparent;
  cursor: pointer;
  transition: background 0.3s;
}

ul button:hover {
  background: rgb(255 255 255 / 8%);
}

.logout {
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid rgb(255 255 255 / 8%);
}
