* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --menu-height: 190px;
  --sidebar-width: 136px;
  --color-primary: #5442ff;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e8f0fb;
  background-color: #121212;
  font-family: "Poppins", sans-serif;
}

input[type="radio"] {
  display: none;
}

.card {
  width: 525px;
  display: flex;
  padding: 0 12px;
  border-radius: 10px;
  height: var(--menu-height);
  background-color: #1f2027;
}

.buttons {
  padding-top: 12px;
  width: var(--sidebar-width);
}

.buttons label {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
  opacity: 0.65;
  gap: 8px;
}

.buttons label:hover {
  opacity: 1;
  background: rgb(255 255 255 / 3%);
}

#tab-home:checked ~ .buttons label[for="tab-home"],
#tab-performance:checked ~ .buttons label[for="tab-performance"],
#tab-customization:checked ~ .buttons label[for="tab-customization"],
#tab-support:checked ~ .buttons label[for="tab-support"] {
  opacity: 1;
  color: #fff;
  background: var(--color-primary);
}

.wrapper {
  position: relative;
  overflow: hidden;
  flex: 1;
}

.wrapper::before,
.wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 36px;
}

.wrapper::before {
  top: 0;
  background: linear-gradient(#1f2027, transparent);
}

.wrapper::after {
  bottom: 0;
  background: linear-gradient(transparent, #1f2027);
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.6s ease;
}

/* TAB SWITCHING */
#tab-home:checked ~ .wrapper .content {
  transform: translateY(0);
}

#tab-performance:checked ~ .wrapper .content {
  transform: translateY(calc(-1 * var(--menu-height)));
}

#tab-customization:checked ~ .wrapper .content {
  transform: translateY(calc(-2 * var(--menu-height)));
}

#tab-support:checked ~ .wrapper .content {
  transform: translateY(calc(-3 * var(--menu-height)));
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  height: var(--menu-height);
}

.block h2 {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 400;
}

.block p {
  opacity: 0.5;
  font-size: 13px;
  line-height: 1.6;
}
