* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #121212;
}

nav {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 2.5em;
  border-radius: 3px;
  background-color: #1b1b1b;
}

nav .links {
  display: flex;
  gap: 2rem;
}

.logo,
.links .link,
.menu-icon {
  font-size: 1em;
  color: #f2f5f5;
  text-decoration: none;
}

.links .link:hover {
  color: #cccccc;
}

.menu-icon {
  display: none;
  border: 0;
  outline: none;
  padding: 10px 15px;
  border-radius: 3px;
  color: #121212;
}

@media screen and (max-width: 600px) {
  .menu-icon {
    display: block;
  }
  nav .links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #1b1b1b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  nav .links a {
    padding: 1em;
    width: 100%;
    text-align: center;
  }
}
