* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #e8f0fb;
  background-color: #121212;
  font-family: "Poppins", sans-serif;
}

footer {
  width: 100%;
  padding: 48px;
  border-radius: 16px;
  background: rgb(0 0 0 / 30%);
  backdrop-filter: blur(10px);
}

.top,
.bottom {
  display: flex;
  gap: 48px;
  width: 100%;
}

.top {
  justify-content: space-between;
  margin-bottom: 24px;
}

.top > .left,
.top > .right {
  flex: 1 1 50%;
}

.bottom {
  padding-top: 32px;
  align-items: center;
  border-top: 2px solid #fefefe;
  gap: 24px;
}

.bottom .left {
  flex: 1;
}

h2 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #908dcb;
}

p {
  color: #908dcb;
}

blockquote {
  font-size: 24px;
  margin-bottom: 24px;
  padding-right: 24px;
}

button {
  border: 0;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  color: #000017;
  background-color: #e8f0fb;
  font-size: 15px;
  font-weight: 500;
  border-radius: 40px;
  padding: 12px 28px;
  cursor: pointer;
}

.links {
  display: flex;
  gap: 48px;
  padding-right: 48px;
}

ul {
  list-style: none;
}

ul li {
  margin-bottom: 12px;
}

ul li a {
  font-weight: 500;
  color: #908dcb;
  text-decoration: none;
}

ul li a:hover {
  color: #fefefe;
}

.socials {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  font-size: 20px;
}

.socials a {
  color: #908dcb;
  text-decoration: none;
}

.socials a:hover {
  color: #fefefe;
}

/* Responsive */
@media (max-width: 740px) {
  .top {
    flex-direction: column;
  }

  blockquote {
    padding-right: 0;
  }
}

@media (max-width: 620px) {
  .bottom {
    flex-direction: column-reverse;
  }

  .links {
    justify-content: center;
    padding: 0 24px;
    text-align: center;
  }

  .top .left {
    text-align: center;
  }

  blockquote {
    padding: 0 58px;
  }
}
