* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-muted: #b4b4b4;
  --color-border: #a9a9a9;
  --color-primary: #816ce0;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  color: #312e37;
  background-color: #dfdbfc;
  font-family: "Poppins", sans-serif;
}

.card {
  display: flex;
  align-items: center;
  border-radius: 16px;
  padding: 6px;
  width: 90vw;
  max-width: 800px;
  background-color: #fefefe;
  box-shadow: 0px 20px 54px rgb(126 48 255 /12%);
}

.card > img {
  width: 50%;
  object-fit: cover;
  align-self: stretch;
  border-radius: 14px;
  transition: 0.3s;
}

.content > img {
  width: 55px;
  height: 55px;
  border-radius: 6px;
  margin-bottom: 30px;
}

.content {
  width: 50%;
  padding: 32px;
}

.hero {
  width: 50%;
  display: grid;
  place-items: center;
  align-self: stretch;
  overflow: hidden;
  border-radius: 14px;
  background: linear-gradient(45deg, #7386d8, #ac5df1);
}

.logo-white {
  height: 40px;
  display: none;
}

.graphic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  margin-bottom: 40px;
}

.content,
.hero {
  transition: width 0.3s;
}

.content h2 {
  margin-bottom: 20px;
}

.content h3 {
  margin-bottom: 40px;
  color: var(--color-muted);
}

input,
button {
  height: 48px;
  display: block;
  padding: 0 16px;
  font-size: 16px;
  font-family: inherit;
  border-radius: 6px;
}

form > input {
  width: 100%;
  color: inherit;
  margin-bottom: 10px;
  background: transparent;
  border: 1px solid var(--color-border);
}

form > input::placeholder {
  color: var(--color-muted);
}

form .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.row .checkbox {
  display: flex;
  align-items: center;
  gap: 2.5px;
}

form a {
  font-size: 14px;
  color: var(--color-muted);
}

form button {
  border: 0;
  padding: 0 8px;
  color: #fefefe;
  background: var(--color-primary);
}

p {
  font-size: 14px;
  margin-top: 30px;
  color: var(--color-muted);
}

p a {
  color: var(--color-primary);
}

@media screen and (width <= 700px) {
  .content {
    width: 60%;
  }
  .hero {
    width: 40%;
  }
}

@media screen and (width <= 600px) {
  .content .hero {
    transition: none;
  }

  .card {
    padding: 24px 24px 0;
    flex-direction: column-reverse;
  }

  .content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .hero {
    width: 100%;
    height: 160px;
  }
  .card h2 {
    margin-bottom: 10px;
  }
  .card h3 {
    margin-bottom: 24px;
  }
  .card form {
    width: 100%;
  }
  .card form button {
    width: 100%;
  }
  .logo,
  .graphic {
    display: none;
  }
  .logo-white {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
  }
  .content > img {
    height: 28px;
  }
}
