* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #1b1b1b;
}

.container {
    display: flex;
}

.container .inner {
    width: 600px;
    height: 200px;
    line-height: 200px;
    white-space: nowrap;
    font-weight: bold;
    overflow: hidden;
    cursor: pointer; 
    font-size: 4em;
    font-family: sans-serif; 
}

.container .inner:focus {
    outline: 2px solid #fff; 
}

.container .inner:first-child {
    background-color: #999999;
    color: #333333;
    transform-origin: right;
    transform: perspective(100px) rotateY(-10deg);
}

.container .inner:last-child {
    background-color: #333333;
    color: #999999;
    transform-origin: left;
    transform: perspective(100px) rotateY(10deg);
}

.container .inner span {
    position: absolute;
    animation: marquee 5s linear infinite;
}

.container .inner:first-child span {
    left: -100%;
    animation-delay: 2.5s;
}

@keyframes marquee {
    from {left: 100%;}
    to {left: -100%;}
}
