* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-muted: #b4b4b4;
  --coloe-border: #a9a9a9;
  --color-primary: #8c58ec;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  color: #1d2222;
  background-color: #ccc6fe;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

h3 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 40px;
  color: var(--color-muted);
}

p {
  font-size: 14px;
  margin-top: 30px;
  color: var(--color-muted);
}

p a {
  color: var(--color-primary);
}

.card {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 6px;
  width: 90vw;
  max-width: 880px;
  box-shadow: 0px 20px 54px rgba(126 48 255 / 12%);
}

.content {
  width: 50%;
  padding: 32px;
  transition: width 0.3s;
}

.card > img {
  width: 50%;
  object-fit: cover;
  align-self: stretch;
  border-radius: 14px;
  transition: 0.3s;
}

.content > img {
  width: 55px;
  height: 55px;
  border-radius: 6px;
  margin-bottom: 30px;
}

input,
button {
  display: block;
  height: 48px;
  padding: 0 16px;
  font-size: 16px;
  border-radius: 6px;
  font-family: inherit;
}

form > input {
  width: 100%;
  color: inherit;
  margin-bottom: 10px;
  background: transparent;
  border: 1px solid var(--coloe-border);
}

form > input::placeholder {
  color: var(--color-muted);
}

form .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.row .checkbox {
  display: flex;
  align-items: center;
  gap: 2.5px;
}

form a {
  font-size: 14px;
  color: var(--color-muted);
}

form > button {
  border: 0;
  padding: 0 48px;
  color: #ffffff;
  background: var(--color-primary);
}

@media screen and (width <= 600px) {
  .card {
    padding: 24px 24px 0;
    flex-direction: column-reverse;
  }

  .card > img {
    width: 100%;
    height: 200px;
    transition: none;
  }

  h2,
  h3 {
    display: none;
  }

  .card form {
    width: 100%;
  }

  .content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: none;
  }

  form button {
    width: 100%;
  }

  .content > img {
    display: none;
    height: 28px;
  }
}

/* @media screen and (width <= 700px) {
  .card > img {
    width: 40%;
  }
  .content {
    width: 60%;
  }
} */
