@layer base, rhythm, layout, components, default, overwrites;

html {
    scroll-snap-type: y mandatory;
    timeline-scope: --section, --main, --site-header;
}

body, .content { background-color: var(--color-background, black); }
main { view-timeline: --main; }

.section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    view-timeline: --section;
    height: 100vh;
}

.content {
    overflow: hidden;
    position: fixed;
    inset: 0;
    --contrast: 4;
    --blur: 0.5rem;
    animation: blink ease-in-out both;
    animation-timeline: --section;
}

@keyframes blink {
    0%, 100% {
        filter: blur(var(--blur)) contrast(var(--contrast));
        opacity: 0;
        visibility: hidden;
    }
    50% {
        filter: blur(0) contrast(1);
        opacity: 1;
        visibility: visible;
    }
}

.indicator::before {
    animation: indicate linear both;
    animation-timeline: --main;
    animation-range: contain;
}

@keyframes indicate {
    0% {
        --color-indicator: var(--color-primary);
        transform: translateY(0);
    }
    25% { --color-indicator: var(--color-yellow); }
    50% { --color-indicator: var(--color-secondary); }
    75% { --color-indicator: var(--color-red); }
    100% {
        --color-indicator: var(--color-purple);
        transform: translateY(
        calc(var(--indicator-total-height) - var(--indicator-size))
        );
    }
}

.site-header label:last-of-type { view-timeline: --site-header inline; }

.site-header::after {
    animation: fade-scroll ease-in-out both;
    animation-timeline: --site-header;
    animation-range: entry-crossing;
}

@keyframes fade-scroll {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

body:has([value="horizontal-scroll"]:checked) .content {
    animation: horizontal-scroll ease-in-out both;
    animation-timeline: --section;
}

body:has([value="backwards-scroll"]:checked) .content {
    animation: backwards-scroll ease-in-out both;
    animation-timeline: --section;
}

body:has([value="zoom-scroll"]:checked) .content {
    animation: zoom-scroll ease-in-out both;
    animation-timeline: --section;
}

@keyframes horizontal-scroll {
    0% { transform: translate3d(100%, 0%, 0); }

    50% { transform: none; }

    100% { transform: translate3d(-100%, 0%, 0); }
}

@keyframes backwards-scroll {
    0% {transform: translate3d(0%, -100%, 0); }

    50% {transform: none; }

    100% {transform: translate3d(0%, 100%, 0); }
}

@keyframes zoom-scroll {
    0% {
        filter: blur(5rem);
        transform: scale(0);
        opacity: 0;
        visibility: hidden;
    }

    50% {
        filter: blur(0);
        transform: none;
        opacity: 1;
        visibility: visible;
    }

    100% {
        filter: blur(3rem);
        transform: scale(1.5);
        opacity: 0;
        visibility: hidden;
    }
}

