* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-card: #292334;
  --color-muted: #67666e;
  --color-border: #686870;
  --color-primary: #8864f0;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  color: #f9f9f9;
  background: #6e56b0;
  font-family: "Poppins", sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 6px;
  border-radius: 22px;
  background: var(--color-card);
  width: clamp(300px, 85vw, 500px);
  box-sizing: 0 50px 100px rgb(0 0 0 / 12%);
}

.hero,
form {
  flex: 1 1 50%;
}

.hero {
  background: url("./home\ office\ 4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
  transition: 0.3s;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 30px 18px;
  transition: padding 0.3s;
}

form :is(h2, h3) {
  text-align: center;
}

form h2 {
  font-size: 22px;
}

form h3 {
  font-size: 14px;
  color: #3c364c;
  margin-bottom: 12px;
}

button,
input {
  border: 0;
  width: 100%;
  height: 44px;
  color: inherit;
  border-radius: 6px;
  font-family: inherit;
  outline-color: var(--color-primary);
}

input {
  padding: 0 2vw;
  background: #3c364c;
}

input::placeholder {
  color: #7f7990;
}

.socials {
  display: flex;
  gap: 8px;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: transparent;
  border: 1px solid var(--color-border);
}

form button[type="submit"] {
  background: var(--color-primary);
}

.or {
  position: relative;
  height: 24px;
}

.or::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  translate: 0 -50%;
  z-index: 0;
  width: 100%;
  height: 1px;
  background: var(--color-border);
}

.or::after {
  content: "Or";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 1;
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 4px;
  color: var(--color-muted);
  background: var(--color-card);
}

@media screen and (width >= 485px) {
  form {
    padding-inline: 50px;
  }
}

@media screen and (width >= 500px) {
  form {
    transition: none;
  }
}

@media screen and (width >= 580px) {
  .card {
    flex-direction: row;
    /* padding: 6px 0 6px 6px; */
    padding: 6px;
    width: clamp(300px, 90vw, 740px);
  }

  /* form :is(h2, h3) {
    text-align: left;
  } */

  .hero {
    flex: 1 1 40%;
    width: 50%;
  }

  form {
    padding: 60px 30px;
  }
}

@media screen and (width >= 700px) {
  .hero {
    flex: 1 1 50%;
    width: 50%;
  }
}
